.quick-view-modal {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(28, 28, 28, 0.2);
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.quick-view-modal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background-color: white;
  padding: 20px;
}

@media screen and (min-width: 912px) {
  .quick-view-modal-card {
    display: flex;
    flex-direction: row;
  }
}

.quick-view-modal-images {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 70%;
}

.quick-view-card-image {
  width: 100%;

  height: 50%;
  height: 500px;
  margin-bottom: 20px;
}

.quick-view-modal-image-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.quick-view-card-image-slide {
  height: 180px;
}

.quick-view-modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 30%;
  background-color: white;
}
